.sprite { background: url('/static/card_sprites.png') no-repeat top left; width: 103px; height: 143px;  }
.sprite.joker3 { background-position: 0 0; }
.sprite.joker2 { background-position: 0 -143px; }
.sprite.joker1 { background-position: 0 -286px; }
.sprite.spade13 { background-position: 0 -429px; }
.sprite.spade12 { background-position: 0 -572px; }
.sprite.spade11 { background-position: 0 -715px; }
.sprite.spade10 { background-position: 0 -858px; }
.sprite.spade9 { background-position: 0 -1001px; }
.sprite.spade8 { background-position: 0 -1144px; }
.sprite.spade7 { background-position: 0 -1287px; }
.sprite.spade6 { background-position: 0 -1430px; }
.sprite.spade5 { background-position: 0 -1573px; }
.sprite.spade4 { background-position: 0 -1716px; }
.sprite.spade3 { background-position: 0 -1859px; }
.sprite.spade2 { background-position: 0 -2002px; }
.sprite.spade1 { background-position: 0 -2145px; }
.sprite.heart13 { background-position: 0 -2288px; }
.sprite.heart12 { background-position: 0 -2431px; }
.sprite.heart11 { background-position: 0 -2574px; }
.sprite.heart10 { background-position: 0 -2717px; }
.sprite.heart9 { background-position: 0 -2860px; }
.sprite.heart8 { background-position: 0 -3003px; }
.sprite.heart7 { background-position: 0 -3146px; }
.sprite.heart6 { background-position: 0 -3289px; }
.sprite.heart5 { background-position: 0 -3432px; }
.sprite.heart4 { background-position: 0 -3575px; }
.sprite.heart3 { background-position: 0 -3718px; }
.sprite.heart2 { background-position: 0 -3861px; }
.sprite.heart1 { background-position: 0 -4004px; }
.sprite.diamond13 { background-position: 0 -4147px; }
.sprite.diamond12 { background-position: 0 -4290px; }
.sprite.diamond11 { background-position: 0 -4433px; }
.sprite.diamond10 { background-position: 0 -4576px; }
.sprite.diamond9 { background-position: 0 -4719px; }
.sprite.diamond8 { background-position: 0 -4862px; }
.sprite.diamond7 { background-position: 0 -5005px; }
.sprite.diamond6 { background-position: 0 -5148px; }
.sprite.diamond5 { background-position: 0 -5291px; }
.sprite.diamond4 { background-position: 0 -5434px; }
.sprite.diamond3 { background-position: 0 -5577px; }
.sprite.diamond2 { background-position: 0 -5720px; }
.sprite.diamond1 { background-position: 0 -5863px; }
.sprite.club13 { background-position: 0 -6006px; }
.sprite.club12 { background-position: 0 -6149px; }
.sprite.club11 { background-position: 0 -6292px; }
.sprite.club10 { background-position: 0 -6435px; }
.sprite.club9 { background-position: 0 -6578px; }
.sprite.club8 { background-position: 0 -6721px; }
.sprite.club7 { background-position: 0 -6864px; }
.sprite.club6 { background-position: 0 -7007px; }
.sprite.club5 { background-position: 0 -7150px; }
.sprite.club4 { background-position: 0 -7293px; }
.sprite.club3 { background-position: 0 -7436px; }
.sprite.club2 { background-position: 0 -7579px; }
.sprite.club1 { background-position: 0 -7722px; }