<!DOCTYPE html>
<html>

<head lang="en">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="/static/blackjack.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/blackjack.css">
    <link rel="stylesheet" type="text/css" href="/static/css/card_sprites.css">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background-image: url("/static/pokerfelt.jpg");
        }
    </style>
</head>

<body>

<div id="gameActions">
    <button id="startGame">Start Game</button>
    <span id="start"></span>
</div>
<div id="seatSelection">
    <div class="seatDiv" id="seat1" player=""></div>

    <div class="seatDiv" id="seat2" player=""></div>

    <div class="seatDiv" id="seat3" player=""></div>

    <div class="seatDiv" id="seat4" player=""></div>

    <div class="seatDiv" id="seat5" player=""></div>

</div>

</body>

<script>

    window.game = {};

    window.updatePage = function () {
        var startButton = document.querySelector("button[id='startGame']");
        $('#startGame').click(function () {
            $.post('/blackjack_deal/{{ game.id }}');
        });
        var game = new Game(window.data);
        game.compile();
        var seatKeys = Object.keys(game.seats);
        for (var i = 0; i < seatKeys.length; i++) {
            var seatStr = "div[id=seat" + String(i + 1) + "]";
            var seatDiv = document.querySelector(seatStr);
            var seat = game.seats[seatKeys[i]];
            seatDiv.innerHTML = "";

            if (seat.player) {
                seatDiv.setAttribute('player', seat.player.id);
                var player = seat.player;
                var handKeys = Object.keys(player.hands);
                    for (var h = 0; h < handKeys.length; h++) {
                        var hand = player.hands[handKeys[h]];
                        var handDiv = hand.drawHand();
                        seatDiv.appendChild(handDiv);
                    }
            } else {
                // No player is sitting here yet
                var sitSpan = document.createElement('span');
                sitSpan.seat = seat;
                sitSpan.innerHTML = 'Sit here';
                sitSpan.addEventListener('click', function () {
                    sitSpan.seat.sit();
                });
                seatDiv.appendChild(sitSpan);
            }
        }
        window.game = game;
    };

    var request = new XMLHttpRequest();
    var onRequestChange = function () {
        if ((request.readyState == 4) && (request.status == 200)) {
            var data = JSON.parse(request.responseText);
            var a = JSON.stringify(data);
            var b = JSON.stringify(window.game.data);
            $('#start').html = 'Game started ' + data['time_delta'] + ' ago';
            if (a != b) {
                window.data = data;
                {#                window.game = new Game(data);#}
                {#                window.game.compile();#}
                window.updatePage();
            } else {
                console.log(a == b);
            }
        }
    };

    var getData = function () {
        request.onreadystatechange = onRequestChange;
        request.open('GET', '/game_stats/{{ game.id }}', true);
        request.send();
    };
    getData()
</script>

</html>